.home-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding-left: 15px;
    margin-top: 10px;
    padding-right: 15px;
}

.titolo-home-page {
    padding: 10px;
}

.workout-container {
    display: flex; 
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px; 
}

.workout-container > * {
    flex: 0 0 auto; 
    margin-right: 10px; 
}


/* Per WebKit (Chrome, Safari, Edge, ecc.) */
.workout-container::-webkit-scrollbar {
    width: 8px;
    height: 2px;
}

.workout-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.workout-container::-webkit-scrollbar-track {
    background-color: transparent;
}